<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movies
    </ion-title>
    <ion-button (click) ="createMovie()" slot="end">
      <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <app-list [items]="movies" (selectIdClicked)="showMovieDetail($event)" (editIdClicked)="editMovie($event)" (deleteIdClicked)="deleteMovie($event)"></app-list>
  
</ion-content>
