<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/celebrities"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Create
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large"></ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-card>
        <ion-card-header>
            <ion-avatar>
                <img alt="Profile picture" src="https://media-assets.vanityfair.it/photos/64b557a6561b6891aa8cf41b/1:1/w_683,h_683,c_limit/GettyImages-1542850132.jpg" />
            </ion-avatar>
            <ion-card-title>Create Celebrity</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form *ngIf="createForm" class="form" [formGroup]="createForm" (ngSubmit)="submitForm()" novalidate>
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">Id</ion-label>
                        <ion-input formControlName="id" type="text"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Name</ion-label>
                        <ion-input formControlName="name" type="text"></ion-input>
                    </ion-item>
                    
                    <ion-item>
                        <ion-label position="floating">Birth Year</ion-label>
                        <ion-input formControlName="birthYear" type="number"></ion-input>
                    </ion-item>
                    
                    <ion-item>
                        <ion-label position="floating">Death Year</ion-label>
                        <ion-input formControlName="deathYear" type="number"></ion-input>
                    </ion-item>
                </ion-list>
                
                <ion-button type="submit" expand="block" [disabled]="!createForm.valid" id="present-alert">Save</ion-button>
                <ion-alert
                trigger="present-alert"
                header="Save"
                message="Celebrity created successfully"
                [buttons]="alertButtons"
                ></ion-alert>
                
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>